.amount {
  border: none;
}
.container {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  padding: 55px;
}
.curreuncy {
  display: flex;
  justify-content: space-between;
}
.curreuncy-icon {
  color: rgb(230, 192, 23);
  font-size: 35px;
  display: inline-block;
  width: 56px;
  height: 56px;
  border: 4px solid rgb(230, 192, 23);
  border-radius: 55%;
  margin: 0 auto;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.curreuncy-title {
  color: rgb(230, 192, 23);
  text-align: center;
}
#swap {
  margin: 27px 0;
  border: 2px solid rgb(230, 192, 23);
  background: transparent;
  border-radius: 7px;
}
.curreuncy-value {
  display: flex;
}
